:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --second-text-color: #FFFFFF;
    --background-button-color: #2196F3;
    --primery-background-color: #FFF;
    --background-team-color: #F5F4FA;
    --logo-color: #000;
    --secondary-background-color: #2F303A;  
  }
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: var(--title-text-color);
}
.header{
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-wraper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*Logotype*/
.header-logo{
    color: var(--logo-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-decoration: none;
}
.logo-blue{
    color: var(--background-button-color);
}

.header-list{
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: flex;
    
}
.header-list-item:not(:last-child){
    margin-right: 50px;
}
.header-list:hover{
    color: var(--background-button-color);
}

.header-link-one{
    font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
color: var(--background-button-color);
}
.header-link{
    text-decoration: none;
    color: var(--title-text-color);
    font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}
.header-link:hover,
.header-link:focus{
    color: var(--background-button-color);
    
}
/*Contacts*/
.contacts-list{
    padding-left: 344px ;
    display: flex;
    
}
.email{
    color: var(--background-button-color);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    
}
.telephone{
    color: var(--primary-text-color);
    font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
margin-right: 50px;
}
/*Кнопка "Усі"*/
.button-one{
   background: var(--background-button-color);
   color: var(--primery-background-color);
   border-radius: 4px;
   border: none;
text-align: center;
font-family: 'Roboto';
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.48px;
padding: 6px 25px;

}
/*Інші кнопки*/
.button-list{
    padding-bottom: 50px;
    padding-top: 94px;
    padding-left: 300px;
    display: flex;
}
.button-list-item{
    padding: 8px;
}
.button{
    border-radius: 4px;
background-color: var(--background-team-color);
color: var(--button-color);
border: none;
text-align: center;
font-family: 'Roboto';
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.48px;
padding: 8px;
}
/*Картинки*/
.section{
    padding-bottom: 94px;
}
.block-list{
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
    margin-bottom: 30px;

}

.block-img{
    width: 370px;
height: 294px;
padding: 30px;
}
/*Заголовки карток*/
.block-title{
    color: var(--button-color);
    font-family: 'Roboto';
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 1.08px;
padding-bottom: 4px;
padding-top: 20px;
}
/*Текст карток*/
.block-text{
    color: var(--block-text-color);
    font-family: 'Roboto';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.48px;
}
/*Footer*/
.footer{
    background-color: var(--secondary-background-color);
    padding-top: 94px;
    padding-bottom: 60px;
}
.logo-white{
    color: var(--primery-background-color);
}
.address-div{
    display: flex;
    flex-direction: column;
}
.address-text{
    color: var(--primery-background-color);
    font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
}
.address-link{
    color: rgba(255, 255, 255, 0.60);
font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
}