:root{
    --button-background: #F5F4FA;
    --button-color: #212121;
    --block-text-color: #757575;
    --button-one-background: #2196F3;
    --button-one-color: #FFF;
}
ul{
    list-style: none;
}
.header-logo{
    color: var(--logo-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-decoration: none;
}
.logo-blue{
    color: var(--background-button-color);
}

.header-list{
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    list-style: none;
}
.header-list:hover{
    color: var(--background-button-color);

}
.header-link-one{
    font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
color: var(--background-button-color);
}
.header-link{
    text-decoration: none;
    color: var(--title-text-color);
    font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}
.header-link:hover,
.header-link:focus{
    color: var(--background-button-color);
    
}
/*Contacts*/
.contacts-list{
    list-style: none;
}
.email{
    color: var(--background-button-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.telephone{
    color: var(--primary-text-color);
    font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}
/*Кнопка "Усі"*/
.button-one{
   background: var(--button-one-background);
   color: var(--button-one-color);
   border-radius: 4px;
}
/*Інші кнопки*/
.button{
background-color: var(--button-background);
color: var(--button-color);
border: none;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.48px;
}
/*Картинки*/
.block-img{
    width: 370px;
height: 294px;
padding: 20px;
}
/*Заголовки карток*/
.block-title{
    color: var(--button-color);
    font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 1.08px;
}
/*Текст карток*/
.block-text{
    color: var(--block-text-color);
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.48px;
}
/*Footer*/
.footer{
    background-color: var(--secondary-background-color);
}
.address-text{
    color: var(--primery-background-color);
    font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
}
.address-link{
    color: rgba(255, 255, 255, 0.60);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
}