:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --second-text-color: #FFF;
    --background-button-color: #2196F3;
    --background-team-color: #F5F4FA;
    --logo-color: #000;
    --secondary-background-color: #2F303A; 
    --border-color: #AFB1B8; 
  }
  .container{
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
  }
  body{
      padding: 0;
      margin: 0;
      color: var(--primary-text-color);
      background-color: var(--second-text-color);
      font-size: 14px;
  }
  /*header*/
  .header{
      padding-top: 24px;
      padding-bottom: 25px;
  }
  .header-wraper{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  /*Logotype*/
  .header-logo{
      color: var(--logo-color);
      font-family: 'Raleway';
      font-size: 26px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.78px;
      text-decoration: none;
  }
  .logo-blue{
      color: var(--background-button-color);
  }
  
  .header-list{
      color: var(--title-text-color);
      text-decoration: none;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.28px;
      display: flex;
  
      
  }
  .header-list-item:not(:last-child){
      margin-right: 50px;
  }
  .header-list:hover{
      color: var(--background-button-color);
  }
  
  .header-link-one{
      font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  color: var(--background-button-color);
  }
  .header-link{
      text-decoration: none;
      color: var(--title-text-color);
      font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  }
  .header-link:hover,
  .header-link:focus{
      color: var(--background-button-color);
      
  }
  /*Contacts*/
  .contacts-list{
      padding-left: 344px ;
      display: flex;
      
  }
  .contacts-list-item{
      display: flex;
  }
  .contacts-mail{
      width: 16px;
      height: 12px;
      margin-right: 10px;
  }
  .email{
      color: var(--primary-text-color);
      font-family: 'Roboto';
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.28px;
      
  }
  .icon{
      fill: var(--primary-text-color);
      display: flex;
      align-items: center;
  }
  .contacts-list .icon:hover{
      color: var(--background-button-color);
  }
  .icon:hover .contacts-phone{
      fill: var(--background-button-color);
  }
  .icon:hover .contacts-mail{
      fill: var(--background-button-color);
  }
  .contacts-phone{
      width: 10px;
      height: 16px;
      margin-right: 10px;
      fill: var(--primary-text-color);
  }
  .telephone{
      color: var(--primary-text-color);
      font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-left: 30px;
  }
  
  .post{
   background-image: url(../imges/Imgfon.png); 
   padding-top: 200px;
   padding-bottom: 200px;
  }
  .post-title{
      color: var(--second-text-color);
      text-align: center;
  font-family: 'Roboto';
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px; 
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin: 0 auto;
  }
  .post-button{
      color: var(--second-text-color);
      background: var(--background-button-color);
      cursor: pointer;
      font-size: 16px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0.96px;
      border-radius: 4px;
      border: none;
      padding: 10px 32px;
      margin: 0 auto;
      text-align: center;
      font-family: 'Roboto';
      display: flex;
      align-items: center;
      margin-top: 30px;
  }
  .post-button:hover{
    background: none;
    border: 5px solid var(--background-button-color);
  }
  .backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
min-height: 581px;
background-color: var(--second-text-color);
border-radius: 4px;
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
.modal-close-button{
    width: 30px;
    height: 30px;
    background-color: var(--second-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    margin-top: 8px;
    margin-left: 496px;
    margin-right: 6px;
    box-sizing: border-box;
    background-image: url(../imges/cross1.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content:center ;
}
.modal-close-img{
    fill: var(--logo-color);
}
.modal-close-img:hover,
.modal-close-img:focus{
    fill: var(--background-button-color);
}
.modal-form-title{
    color: var(--logo-color);
    text-align: center;
font-family: 'Roboto';
font-size: 20px;
font-weight: 700;
letter-spacing: 0.6px;
padding-bottom: 12px;
}
.modal-form{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
.modal-form-field{
    position: relative;
    margin-bottom: 10px;
}
.modal-form-label{
    display: flex;
    flex-direction: column;
    color: var(--primary-text-color);
    font-family: 'Roboto';
font-size: 12px;
font-weight: 400;
letter-spacing: 0.12px;
}
.form-input{
    border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
width: 448px;
height: 40px;
margin-top: 4px;
}
.name{
    background-image: url(../imges/name-pers.svg);
    background-repeat: no-repeat;
    /* position: relative;
    top: 11;
    right: 12; */
}
.tel{
    background-image: url(../imges/tel.svg);
    background-repeat: no-repeat;
}
.mail{
    background-image: url(../imges/form-email1.svg);
    background-repeat: no-repeat;
}
.form-input-comment{
    width: 448px;
height: 120px;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
margin-top: 4px;
}
.form-input-comment::placeholder{
    color: rgba(117, 117, 117, 0.50);
font-family: 'Roboto';
font-size: 12px;
font-weight: 400;
letter-spacing: 0.12px;
}
.form-input:hover,
.form-input:focus,
.form-input-comment:hover,
.form-input-comment:focus{
    border: 1px solid var(--background-button-color);
    fill: var(--background-button-color);
}
.modal-policy-text{
    color: var(--primary-text-color);
    font-family: 'Roboto';
font-size: 14px;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.42px;
}
.modal-policy-link{
    color: var(--background-button-color);
    font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
text-decoration-line: underline;
}
.modal-form-checkbox{
    cursor: pointer;
}
.agree-button{
    color: var(--second-text-color);
    background: var(--background-button-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    border-radius: 4px;
    border: none;
    padding: 10px 52px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    margin-top: 30px;
}
  /*benefits*/
  .benefits{
      padding-top: 94px;
  
  }
  .benefits-list{
      display: flex;
      align-items: flex-start;
  }
  .benefits-block{
      width: 270px;
  }
  .benefits-block:not(:last-child){
      margin-right: 30px;
  }
  .benefits-letter-one::before{
      content: '';
      display: block;
      background-color: var(--background-team-color);
      width: 270px;
      height: 120px;
      margin-bottom: 30px;
      border-radius: 4px;
      background-image: url(../imges/benefitsimg1.png);
      background-repeat:no-repeat ;
      background-position: center;
  }
  .benefits-letter-two::before{
      content: '';
      display: block;
      background-color: var(--background-team-color);
      width: 270px;
      height: 120px;
      margin-bottom: 30px;
      border-radius: 4px;
      background-image: url(../imges/benefitsimg2.png);
      background-repeat:no-repeat ;
      background-position: center;
  }
  .benefits-letter-three::before{
      content: '';
      display: block;
      background-color: var(--background-team-color);
      width: 270px;
      height: 120px;
      margin-bottom: 30px;
      border-radius: 4px;
      background-image: url(../imges/benefitsimg3.png);
      background-repeat:no-repeat ;
      background-position: center;
  }
  .benefits-letter-four::before{
      content: '';
      display: block;
      background-color: var(--background-team-color);
      width: 270px;
      height: 120px;
      margin-bottom: 30px;
      border-radius: 4px;
      background-image: url(../imges/benefitsimg4.png);
      background-repeat:no-repeat ;
      background-position: center;
  }
  .benefits-name{
      color: var(--title-text-color);
      font-family: 'Roboto';
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.42px;
      text-transform: uppercase;
      padding-bottom: 10px;
  }
  .benefits-text{
     color: var(--primary-text-color);
     font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  
  }
  /*Activity*/
  .activity{
      padding-top: 118px;
      padding-bottom: 94px;
  }
  /*Title to three fotos*/
  .activity-title{
      color: var(--title-text-color);
      text-align: center;
  font-family: 'Roboto';
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  padding-bottom: 50px;
  }
  .activity-list-imges{
      display: flex;
      justify-content: space-between;
  }
  .activity-imges{
      width: 370px;
  }
  .activity-text{
      color: var(--second-text-color);
      text-align: center;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.80);
  padding: 27px 107px;
  position: relative;
  bottom: 70px;
  cursor: pointer;
  }
  .activity-text:last-child{
      padding: 27px 95px;
  }
  /*Team*/
  .team{
      padding-top: 94px;
      padding-bottom: 94px;
      background-color: var(--background-team-color);
  }
  .team-list{
      display: flex;
  
  }
  .team-card{
      width: 270px;
      border-radius: 0px 0px 4px 4px;
  background: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  
  }
  .team-card:not(:last-child){
      margin-right: 30px;
  }
  .team-name{
      color: var(--title-text-color);
      text-align: center;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  padding-top: 30px;
  }
  .team-position{
      color: var(--primary-text-color);
      text-align: center;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  margin-top: 10px;
  margin-bottom: 16px;
  }
  .team-img-list{
      display: flex;
      justify-content: space-between;
      margin-right: 32px;
      margin-left: 32px;
      margin-bottom: 30px;
  }
  .team-img-list-item{
      width: 44px;
      height: 44px;
      border-radius: 50%;
      fill: var(--border-color);
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .team-svg{
      width: 20px;
      height: 20px;
      cursor: pointer;     
  }
  .team-img-list-item:hover{
      fill: var(--second-text-color);
      background-color: #2196F3;
  }
  /*Last section*/
  .last-section{
      padding-top: 94px;
      padding-bottom: 94px;
  }
  .last-section-title{
      color: var(--title-text-color);
      text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  padding-bottom: 50px;
  }
  .last-section-list{
      display: flex;
      margin-left: -30px;
  }
  .last-section-item{
      margin-right: 30px;
  }
  .last-section-div{
      width: 170px;
      height: 92px;
      border: 1px solid var(--border-color);
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      fill: var(--border-color);
  }
  .last-section-div:hover,
  .last-section-div:focus{
      fill: var(--background-button-color);
      border-color: var(--background-button-color);
  }
  .last-section-svg{
      width: 106px;
      height: 60px;
  }
  /*Footer*/
  .footer{
      background-color: var(--secondary-background-color);
      padding-top: 94px;
      padding-bottom: 60px;
      display: flex;
  }
  .footer-wrap{
    display: flex;
  }
  .footer-dates{
      display: flex;
      flex-direction: column;
  }
  .logo-white{
      color: var(--second-text-color);
  }
  .address-div{
      display: flex;
      flex-direction: column;
  }
  .address-text{
      color: var(--second-text-color);
      font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-top: 20px;
  margin-bottom: 9px;
  
  }
  .footer-email{
      color: rgba(255, 255, 255, 0.60);
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
  
  }
  .footer-email:hover{
    color: var(--background-button-color);
  }
  .footer-tel{
      color: rgba(255, 255, 255, 0.60);
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  }
  .footer-tel:hover{
    color: var(--background-button-color);
  }
  
  .footer-div{
      margin-left: 70px;
      display: flex;
      flex-direction: column;
  }
  .footer-title{
      color: var(--second-text-color);
      font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  }
  .footer-list{
      display: flex;
      padding-top: 32px;
  }
  .footer-svg{
      width: 20px;
      height: 20px;
  }
  .footer-svg:hover{
    fill: var(--second-text-color);
    background-color: #2196F3;
  }
.footer-item{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.10);;
}
.footer-svg{
    width: 20px;
    height: 20px;
    cursor: pointer;     
}
.footer-item:hover{
    fill: var(--second-text-color);
    background-color: #2196F3;
}
.footer-form-div{
    margin-left: 105px;
}
.form-title{
    color: var(--second-text-color);
    font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
padding-bottom: 20px;
}
.footer-form-input{
border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.30);
background-color: rgba(33, 150, 243, 0.00);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
padding-top: 15px;
padding-bottom: 15px;
padding-right: 295;
padding-left: 16px;
width: 300px;
color: rgba(255, 255, 255, 0.60);
font-family: 'Roboto';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
letter-spacing: 0.48px;
}
.footer-form-input::placeholder{
    color: rgba(255, 255, 255, 0.60);
font-family: 'Roboto';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
letter-spacing: 0.48px;
}
.form-button{
    color: var(--second-text-color);
    text-align: center;
font-family: 'Roboto';
font-size: 16px;
font-weight: 700;
line-height: 30px; 
letter-spacing: 0.96px;
background-color: var(--background-button-color);
width: 200px;
height: 50px;
border: none;
border-radius: 4px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
padding-top: 10px;
padding-bottom: 10px;
padding-right: 62px;
padding-right: 28px;
margin-left: 12px;
cursor: pointer;
}
.form-button-img{
    position: relative;
    right: 45px;
    top: 5px;
} 