:root{
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --second-text-color: #FFFFFF;
  --background-button-color: #2196F3;
  --primery-background-color: #FFF;
  --background-team-color: #F5F4FA;
  --logo-color: #000;
  --secondary-background-color: #2F303A;  
}
body{
    padding: 0 215px;
    color: var(--primary-text-color);
background-color: var(--primery-background-color);
font-size: 14px;
}
/*header*/
.logo{
    color: var(--logo-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-decoration: none;
}
.blue{
    color: var(--background-button-color);
}
.site-list{
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    list-style: none;
}
.site-list:hover{
    color: var(--background-button-color);
}
.site-link{
    text-decoration: none;
    color: var(--title-text-color);
}
.site-link:hover,
.site-link:focus{
    color: var(--background-button-color);
}
.post{
 background: var(--secondary-background-color);   
}
.post-title{
    color: var(--second-text-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-align: center;
}
.post-button{
    color: var(--second-text-color);
    background: var(--background-button-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    margin: 0 auto;
    text-align: center;
}
/*benefits*/
.benefits-list{
    list-style: none;
}
.benefits-name{
    color: var(--title-text-color);
    font-size: 14px;
    font-family: 'Roboto';
}
.benefits-text{
    font-size: 14px;
}
